# Python cache directories
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/

# Data files
*.csv
*.tsv
*.data
*.dat

# Docker artifacts
docker-compose.yml
*.docker
*.img
